body,html{
  height: 100%;
}
.global {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.top {
	height: 12%;
	background-color: #e9ecef;
	padding-top:1%;
	padding-bottom: 6%;
	padding-left: 5%;
}
.leftt{
  float: left;
  height: 88%;
  width: 20%;
  background-color: #e9ecef;
  padding-right: 5px;
  padding-left: 5px;
}

.clickable{
  background-color:#e9ecef;
  height: 3em;
  text-align: center;
  padding-top: 6%;
  border-bottom: 1px solid grey;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
  color: black;
  
  font-size: 20px;
  font-weight: lighter;

   -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
  }

.clickable:hover{
  background-color: #cdd3d8; 
  text-decoration-color: blue;
  letter-spacing: 0.5px;
  
  font-size:23px;
  font-weight: lighter;
  color: #202326;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.main-panel{
  padding-top: 5%;
  padding-left: 10%;
  height: 88%;
  overflow: auto;
  padding-right: 0%;
}
a.anchor:visited { color:#FFF; text-decoration:none; font-weight:normal; }
a.anchor:hover {color:black; text-decoration:none; font-weight:normal;}
a.anchor:link { color:orange; text-decoration:none; font-weight:normal; }
a.anchor:active {color:red; text-decoration:none; font-weight:normal;}


/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


label {
  padding: 5px 20px 0px 0px;
  color:  #767676;
  display: block;
}

input , textarea{
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}