.*{
	margin: 0; 
}
html,body{
	height: 100%;
	width: 100%;
}
.jumbotron{
	margin-bottom: 0;
	padding-top: 50px;
	height: 25%;
	padding-left: 35%;
}

.loginpanel{
	float: left;
	margin-left: 33%;
	margin-top: 1%;
	padding : 1%  2%;
	width: 35%;
	height: 65%;
	margin-bottom: 0;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
  	box-shadow:         3px 3px 5px 6px #ccc;
}

.btn-primary{
	margin-top: 20%;
	float: right;
	padding-left: 35px;
	padding-right: 35px;
	text-align: center;
	
}