.*{
	margin: 0; 
}
html,body{
	height: 100%;
	width: 100%;
	margin: 0; 
}
.main-page{
	height: 100%;
	width: 100%;
}
.heading{
	height: 12%;
	width: 100%;
	background-color: #BABDBF;
	border-bottom: solid #333;
}
.home{
	padding-top: 2%;
}
.mainheading{
	font-weight: lighter;
	font-size: 250%;
	margin-left: 10%;
	padding-top: 0.5%;
	float: left;
	font-style: normal;
}

.news{
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	background-color: #DBDBDB;	
	overflow-y: scroll;
	height: 84%;
	border-width: 0px;
	border-style: solid;
	border-radius: 10px;
	padding: 1%;
}

.newscontent{ 
	
	color : black;
	font-family: Arial,Helvetica,sans-serif;
	font-size:16px;
	text-align:justify;

}

.pic {
	float: left;
	max-width: 700px;

}

::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	background: #f1f1f1; 
}

::-webkit-scrollbar-thumb{
	background: #888; 
}

::-webkit-scrollbar-thumb:hover{
	background: #555; 
}