*{
    margin: 0;
}
html,body{
    height: 100%;
    width: 100%;
}
.top {
    height: 12%;
    width: 100%;
    background-color: #BABDBF;
    border-bottom: solid #333;
}
.mainheading{
    font-weight: lighter;
    font-size: 250%;
    margin-left: 10%;
    padding-top: 0.5%;
    float: left;
    font-style: normal;
}
.leftt{
    float: left;
    height: 88%;
    width: 20%;
    background-color: #171A21;
    padding-right: 5px;
    padding-left: 5px;
}

.clickable{
    background-color:#171A21;
    height: 3em;
    text-align: center;
    padding-top: 6%;
    border-bottom: 1px solid grey;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    color: white;

    font-size: 20px;
    font-weight: lighter;

    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.clickable:hover{
    background-color: #17212E;
    text-decoration-color: blue;
    letter-spacing: 0.5px;

    font-size:23px;
    font-weight: lighter;
    color: grey;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
}

.main-panel{
    height: 88%;
    overflow: auto;
    padding-right: 0%;
}
a.anchor:visited { color:#FFF; text-decoration:none; font-weight:normal; }
a.anchor:hover {color:black; text-decoration:none; font-weight:normal;}
a.anchor:link { color:orange; text-decoration:none; font-weight:normal; }
a.anchor:active {color:red; text-decoration:none; font-weight:normal;}

::-webkit-scrollbar{
    width: 10px;
}

.lodge {
    margin-left: 15%;
    margin-top : 3%;
}
select ,input,textarea {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input:focus , textarea:focus , select:focus {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid lightblue;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(81,203,238,1);
}
label {
    padding: 5px 20px 0px 0px;
    color:  #767676;
    display: block;
}
label[for="date"] {
    padding: 20px 20px 5px 5px;
    color:  #767676;
    display: block;
}
textarea{
    overflow-y: scroll;
    resize: none;
}

button {
    width: 70%;
    background-color: #a5a5a5;
    color: white;
    margin-top: 20px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    width: 70%;
    background-color: #616161;
    color: white;
    margin-top: 20px;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/*input[type=date] {
	width: 70%;
	padding: 12px 20px;
  height: 35px;
  margin: 0 auto;
  width: 100%;
  text-transform: uppercase;
  outline: none;
  border: 1px solid #ccc;
    border-radius: 4px;
  padding: 0 3px;
  color: #000;
  
  &::-webkit-datetime-edit-month-field {
    color: red;
  }
  &::-webkit-datetime-edit-day-field {
    color: white;
  }
  &::-webkit-datetime-edit-year-field {
    color: blue;
  }
  
  &::-webkit-clear-button {
    font-size: 18px;
    height: 30px;
    position: relative;
    right: 5px;
    margin-right: 4px;
  }
  &::-webkit-inner-spin-button {
    height: 30px;
  }
  &::-webkit-calendar-picker-indicator {
    font-size: 18px;
    
        
    &:hover {
      background-color: lighten(#2f2f2f,40%);
      color: darken(#fff, 10%);
      cursor: pointer;
    }
    &:active {
      color: blue;
    }
  }
}*/