.*{
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
.main-page{
	height: 100%;
	width: 100%;	
}
.heading{
	height: 12%;
	width: 100%;
/*	background-color: #BABDBF;*/
	background-color: red;
	border-bottom: 0.5px solid #333;
}
.mainheading{
	font-weight: normal;
	font-size: 250%;
	margin-left: 10%;
	padding-top: 0.5%;
	float: left;
	font-style: normal;
}
.helllo{
	height: 200px;
	color: red;
	background-color: blue;
}