.*{
	margin: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
.main-page{
	height: 100%;
	width: 100%;	
}
.heading{
	height: 12%;
	width: 100%;
	background-color: #BABDBF;
	border-bottom: 0.5px solid #333;
}
.mainheading{
	font-weight: normal;
	font-size: 250%;
	margin-left: 5%;
	padding-top: 0.5%;
	float: left;
	font-style: normal;
}
.details-section{
	width: 100%;
	height: 88%;
	background-color: #F5F5F5;
}
.image-initials{
	height : 100%;
	padding-left: 7%;
	padding-right: 3%;
	padding-top: 8%;
	float: left;
	border-right: 2px solid grey;
}
.information{
	height: 100%;
	width: 70.85%;
	float: left;
	padding-top: 4%;
	padding-left: 5%;
	overflow: auto;
}

::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	background: #f1f1f1; 
}

::-webkit-scrollbar-thumb{
	background: #888; 
}

::-webkit-scrollbar-thumb:hover{
	background: #555; 
}