.*{
	margin: 0; 
}
html,body{
	height: 100%;
	width: 100%;
}
.main-page{
	height: 100%;
	width: 100%;
}
.heading{
	height: 12%;
	width: 100%;
	background-color: #BABDBF;
	border-bottom: 1px solid #333;
}
.mainheading{
	font-weight: normal;
	font-size: 250%;
	margin-left: 10%;
	padding-top: 0.5%;
	float: left;
	font-style: normal;
}
.leftt{
	float: left;
	height: 88%;
	width: 20%;
	background-color: #e1c3ed;
}
.news-panel{
	
	float: left;
	width: 50%;
	height: 88%;
	background-color: #F0E1F6;
	overflow: auto;
}

.clickable{
	background-color: coral;
	height: 5em;
	text-align: center;
	padding-top: 10%;
	border-bottom: 2px solid grey;
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	color: red;
}

.clickable:hover{
	background-color: orange; 
	text-decoration-color: blue;
	letter-spacing: 2px;
	font-size:20px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: green;
}

.card-outer{
	height: 31%;
	width: 48%;
	margin : 1%;
	border-radius: 7px;
	background-color: blue;
	overflow: hidden;
	position: relative;
	float: 	left;
}
.card-outer-big{
	height: 63%;
	width: 98%;
	margin : 1%;
	border-radius: 7px;
	background-color: blue;
	overflow: hidden;
	position: relative;
	float: 	left;
}
.card-inner{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
	top: -100%;
	background-color: rgba(32,32,32,0.7);
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-ms-transition: 0.5s;
	-webkit-transition-timing-function: ease;
	-moz-transition-timing-function: ease;
	-o-transition-timing-function: ease;
}
.card-outer:hover .card-inner{
	top: 0;
}
.card-outer-big:hover .card-inner{
	top: 0;
}
.card-inner-text{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}
.card-inner-text p{
	font-size: 25px;
	color: white;

}
.btn-primary{
	font-size: 13px;
}

::-webkit-scrollbar{
	width: 6px;
}

::-webkit-scrollbar-track{
	background: #f1f1f1; 
}

::-webkit-scrollbar-thumb{
	background: #888; 
}

::-webkit-scrollbar-thumb:hover{
	background: #555; 
}

.right-panel{
	float: left;
	height: 88%;
	width: 30%;
	background-color:#7773EA  ;
}

.right-panel-text{
	margin-left: 5%;
	margin-top: 5%;
	font-size: 20px;
}

a.anchor:visited { color:#FFF; text-decoration:none; font-weight:normal; }
a.anchor:hover {color:black; text-decoration:none; font-weight:normal;}
a.anchor:link { color:orange; text-decoration:none; font-weight:normal; }
a.anchor:active {color:red; text-decoration:none; font-weight:normal;}